@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Roboto:wght@300;400;500;700;900&display=swap');

* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html {
    scroll-behavior: smooth;
}

.container {
    padding: 80px 0;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

li {
    list-style: none;
}

.purple {
    color: rgb(100 21 255);
}

/* 

NAVBAR

*/

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    margin: 0 24px;
}

.nav__link--container {
    display: flex;
}

.nav__link--list {
    display: flex;
    justify-content: space-between;
}

.nav__row {
    padding: 14px 4px;
}

.nav__link--anchor {
    color: #242424;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin: 0 16px;
}

.nav__link--anchor-primary {
    background-color: rgb(100 21 255);
    padding: 11px 32px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
}

.nav__logo {
    width: 40px;
    margin-right: 11px;
}

.nav__logo--name {
    font-size: 24px;
    font-weight: 900;
}

.login {
    margin-left: 48px;
}

.nav__title {
    display: flex;
    align-items: center;
}


/* 

INTRO

*/


#intro {
    padding-top: 96px;
    margin: 0 24px;
}

.intro__header {
    font-size: 36px;
}

.header__description {
    width: 60%;
}

.header__row {
    display: flex;
    
}

.header__img {
    width: 40%;
}

.intro__img {
    max-width: 32rem;
}


/* 

Features

*/


.features__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.features__title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.15rem;
}

.features__hook {
    width: 100%;
    text-align: center;
    letter-spacing: 0.05rem;
    font-size: 52px;
    font-weight: 900;
}

.features__description {
    margin-top: 16px;
    margin-bottom: 40px;
    max-width: 576px;
    text-align: center;
    line-height: 1.625;
    font-size: 18px;
    color: rgb(124 139 161);
}

.features__img {
    border: 1px solid;
    border-radius: 9999px;
    border-color: rgb(226, 232, 240);
    padding: 20px;

}

.services {
    display: flex;
    flex-wrap: wrap;
    margin-top: 32px;
}

.service {
    display: flex;
    width: calc(100%/3);
    padding: 32px 24px;
    
}

.service__description {
    display: flex;
    flex-direction: column;
    margin-left: 16px;
    margin-top: 8px;
}

.service__header {
    font-size: 24px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: 0.1rem;
}

.service__para {
    font-weight: 300;
    line-height: 2;
    color: rgb(124 139 161);
    margin-top: 16px;
}

/* 

QUALITY 

*/

.row__quality {
    display: flex;
    margin: 0 24px;
}
.quality__wording {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-right: 64px;
    padding: 0 32px;
}

.quality__img {
    width: 50%;
}

.lp__snip {
    width: 100%;
    display: flex;
}

.quality__title {
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: 900;
    letter-spacing: 0.15rem;
}

.quality__hook {
    width: 100%;
    letter-spacing: 0.05rem;
    font-size: 52px;
    font-weight: 900;
}

.quality__para {
    margin-top: 16px;
    font-weight: 300;
    line-height: 2;
    color: rgb(124 139 161);
}

.learn__more--anchor {
    background-color: rgb(100 21 255);
    padding: 11px 16px;
    border-radius: 50px;
    color: white;
    transition: all 300ms ease;
    text-decoration: none;
    font-weight: 500;
    font-size: 16px;
    margin-top: 32px;
    margin-right: 370px;
}


/* 

NEXT STEPS

*/

.next-steps__img {
    display: flex;
    align-items: center;
}

next__steps--wording {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 64px;
    padding: 0 32px;
}

.next__steps--list {
    margin-top: 32px;
}

.step {
    display: flex;
    margin-top: 32px;
}

.step__number {
    font-size: 36px;
    color: rgb(203 213 224);
}

.step__description {
    margin-left: 20px;
}

.step__header {
    font-size: 20px;
    font-weight: 600;
    line-height: 1;
}

.step__para {
    margin-top: 12px;
    max-width: 320px;
    font-weight: 400;
    font-size: 16px;
    line-height: 2;
    color: rgb(113 128 150);
}

